<% layout("./layout/page");-%>
<% block('title', 'Про AbitHelper'); -%>

<section class="aboutUs infoSection">
	<img src="/images/aboutus.jpg" alt="ПРО ABITHELPER">
	<div class="infoText">
		Ми - молодий стартап, головною метою якого є спрощення та автоматизація процесу вступу.<br><br>

		Проект «AbitHelper» був створений абітурієнтами для абітурієнтів.
		Зіткнувшись з усіма труднощами вступу та витративши багато часу на вибір пріоритетів, ми замислились про створення додатка, що звільнить вступників від цих проблем.<br>
		Додатка, який дозволить скоротити цей складний процес до пари кліків.<br>
		Так і народилась ідея веб-додатка «AbitHelper».<br><br>
		
		Зараз над проектом працюють талановитий веб-розробник та креативний дизайнер-маркетолог, і ми впевнені, що наша команда зростатиме далі.<br><br>
		
		Відкривай для себе «AbitHelper», будемо розвиватися разом!
	</div>
</section>

