<% layout("./layout/page");-%>
<% block('title', 'Оцінити мій ШАНС'); -%>

<script src="/js/countchance.js" type="text/javascript"></script>

<section class="inputParametersSection">
	<div class="inputParameters">
		<h1><%= blocks.title %></h1>
		<div id="specSelectBlock" class="selectBlock">
			<div id="specSelectTitle" class="selectTitle">Вкажіть спеціальність: </div>
			<div class="dropdownSearch" id="specDropdown">
				<input type="text" class="dropdownInput">
				<div class="dropdownResultsBox">

				</div>
			</div>
		</div>
		<div id="regionSelectBlock" class="selectBlock">
			<div class="selectTitle">Оберіть регіон: </div>
			<div class="dropdownSearch" id="regionDropdown">
				<input type="text" class="dropdownInput">
				<div class="dropdownResultsBox">

				</div>
			</div>
		</div>
		<div id="znoInputBlock" class="selectBlock">
			<div class="selectTitle">Ваш середній бал ЗНО: </div>
			<input type="text" class="dropdownInput" id="znoInput"/>
		</div>
		<input type="button" value="ПОШУК" onclick="formKonkursTable()" id="searchVuziButton">
	</div>
</section>

<section class="resultTableSection">
	<div class="loadingImg">Loading...</div>
	<div class="tableBlock">
		<table class="resultTable" id="resultTable">
			<tr class="headTr">
				<td>Спеціальність</td>
				<td>Регіон</td>
				<td>Назва закладу</td>
				<td>Форма навчання</td>
			</tr>
		</table>
	</div>
</section>

