<% layout("./layout/page");-%>
<% block('title', 'Головна'); -%>

<section class="abithelperInfo infoSection">
	<img src="/images/abithelper.jpg" alt="ПОМІЧНИК АБІТУРІЄНТА">
	<div class="infoText">
		«Помічник Абітурієнта» - це інноваційний веб-додаток, що зробить процес вступу до ВНЗ максимально зручним та дозволить зробити правильний вибір.<br><br>
⠀
		🔥 З нами імовірність вступити на бюджет на омріяну спеціальність значно зростає, адже ми прорахували всі шанси за вас!<br><br>
		⠀
		🤔 Також ми допоможемо обрати напрямок розвитку.
		Наш додаток сформує рекомендації щодо професійної орієнтації, спираючись на ваші результати.<br><br>
		
		Готові до вступу?<br>
		З нами це буде легко😎
	</div>
</section>
<section class="forWhom infoSection">
	<div class="infoText">
		Наш додаток створено спеціально для абітурієнтів з метою спрощення процесу вступу.<br><br>

		❓Плануєш вступати до ВНЗ та бажаєш підвисити шанси на успіх?<br>
		❓Хочеш отримати місце на бюджеті на омріяній спеціальності?<br>
		❓Не знаєш, в якому напрямку розвиватися далі?<br><br>
		
		Тоді наш додаток саме для тебе!<br>
		Приєднуйся вже зараз та зрозумій, що вступ - це дуже легко😉
	</div>
	<img src="/images/forwhom.jpg" alt="ДЛЯ КОГО НАШ ДОДАТОК?">
</section>
<section class="howWorks infoSection">
	<img src="/images/howworks.jpg" alt="ЯК ЦЕ ПРАЦЮЄ?">
	<div class="infoText">
		Веб-додаток «AbitHelper» створений, щоб зробити вступ максимально комфортним та зручним для абітурієнтів.<br><br>

		✅Використовуючи лише ваші результати ЗНО, ми розраховуємо імовірність вашого вступу на бюджет на обрану спеціальність до певного ВНЗ.<br>
		✅Також у нас можна знайти коротку інформацію про будь-який навчальний заклад.<br>
		✅Хочеш вступати, але не знаєш про ВНЗ свого міста? "AbitHelper" допоможе їх знайти.<br><br>
		
		З нами імовірність вступити на бюджет зростає у кілька разів!<br>
		Вступ може бути легким, і ми це доведемо🔥
	</div>
</section>








